@model IEnumerable<SuperHeroes.Models.SuperHero>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SuperHeroNAme)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.AlterEgoName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimarySuperHeroAbility)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondarySuperheroAbility)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CatchPhrase)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.SuperHeroNAme)*@
            @Html.ActionLink(item.SuperHeroNAme, "Select", new { id = item.MyProperty }) |
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.AlterEgoName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimarySuperHeroAbility)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondarySuperheroAbility)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CatchPhrase)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MyProperty }) |
            @Html.ActionLink("Select", "Select", new { id=item.MyProperty }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MyProperty })
        </td>
    </tr>
}

</table>
